.navbar {
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  padding: 15px;
  display: block;

  color: rgb(163, 132, 160);
  text-decoration: none;
  transition: all .3s;
}

.navbar ul li a:hover {
  color: white;
  background-color: rgb(163, 132, 160);
}

.navbar-fixed-top {
  position: fixed;
  z-index: 2;
  width: 100%;
}